{% extends 'install_base.twig' %}

{% block content %}
        <tr>
            <td align="right">
                <p align="left" class="text_title" >To create Pure-FTPd WebUI administrator</p>
                <p align="left">
                    finished
                </p>
            </td>
        </tr>
{% endblock %}